* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica", "Tahoma", sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    color: white;
}

h2 {
    font-weight: 900;
    font-size: 32px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
a {
    font-size: 16px;
}

.section-1 {
    background: #1F2937;
    padding: 10px 150px 100px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header a {
    color: #bebebe;
}

.header img {
    height: 50px;
    width: auto;
}

.section-1 .content {
    display: flex;
    gap: 50px;
}

.section-1 .content .text-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: center;
}

.section-1 .content img {
    height: 300px;
    width: auto;
}

.section-1 .content a {
    color: white;
    background-color: #3882F6;
    padding: 5px 15px;
    border-radius: 8px;
}

.section-1 .content p {
    color: #bebebe;
}

.section-2 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 .books {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-2 .books .book {
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-2 img {
    height: 200px;
    width: auto;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.section-2 .book-title {
    font-style: italic;
}

.section-3 {
    background: #E5E7EB;
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.section-3 .quote-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-3 .quote-container .quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
}

.section-3 .quote-container .speaker {
    font-size: 18px;
    font-weight: bold;
}

.section-4 {
    padding: 90px;
    display: flex;
    justify-content: center;
}

.section-4 .content {
    background: #3882F6;
    color: white;
    width: 900px;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4 .content .left-side {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.section-4 .content .left-side .heavy {
    font-weight: bold;
    font-size: 22px;
}

.section-4 a {
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px 30px;
}

.footer {
    background: #1F2937;
    color: white;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}